<button type="button" class="btn btn-primary px-5" (click)="nuevoElectrodomestico()">+ Nuevo Electrodomestico</button>
<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-striped">
            <thead>
                <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Marca</th>
                    <th scope="col">Modelo</th>
                    <th scope="col">Potencia (Watts)</th>
                    <th scope="col">Tiempo (Horas)</th>
                    <th scope="col">Nivel consumo</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pry of electrodomesticos">
                    <th scope="row">{{pry.id}}</th>
                    <td>{{pry.nombre}}</td>
                    <td>{{pry.marca}}</td>
                    <td>{{pry.modelo}}</td>
                    <td>{{pry.potencia_nominal}}</td>
                    <td>{{pry.tiempo}}</td>
                    <td>{{pry.consumo_categoria}}</td>
                   
                </tr>
            </tbody>
        </table>
    </div>
</div>
