<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-striped">
            <thead>
                <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Tiempo consumo</th>
                    <th scope="col">Consumo energia</th>
                    <th scope="col">Id electrodomestico</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pry of consumo">
                    <th scope="row">{{pry.id}}</th>
                    <td>{{pry.tiempo_consumo}}</td>
                    <td>{{pry.consumo_energia}}</td>
                    <td>{{pry.id_electrodomestico}}</td>
                    <td>
                        <div class="form-check form-switch">
                            <!--<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" [checked]="pry.state">-->
                            <label class="form-check-label" for="flexSwitchCheckChecked">
                            </label>
                        </div>
                    </td>
                    <td>
                        <a role="button" (click)="editarConsumo(pry.id)" class="bi bi-pencil-square"></a>
                        <a role="button" (click)="confirmDeleteConsumo(pry.id)" class="bi bi-trash"></a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>