<div class="card">
    <div class="card-body">
        <table class="table mb-0 table-striped">
            <thead>
                <tr>
                    <th scope="col"># Id</th>
                    <th scope="col">Periodo de inicio</th>
                    <th scope="col">Periodo de fin</th>
                    <th scope="col">Consumo total</th>
                    <th scope="col">Consumo maximo</th>
                    <th scope="col">Id Usuario</th>
                    <th scope="col">Opciones</th>
                   
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rp of reporte">
                    <th scope="row">{{rp.id}}</th>
                    <td>{{rp.periodo_inicio}}</td>
                    <td>{{rp.periodo_fin}}</td>
                    <td>{{rp.consumo_total}} kWh</td>
                    <td>{{rp.consumo_maximo}} kWh</td>
                    <td>{{rp.id_usuario}}</td>
                    <td>
                        <a role="button" (click)="confirmaEliminarReporte(pry.id)" class="lni lni-trash"></a>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div>
    <label for="fechaInicio">Fecha de inicio:</label>
    <input type="date" id="fechaInicio" [(ngModel)]="fechaInicio" />
  
    <label for="fechaFin">Fecha de fin:</label>
    <input type="date" id="fechaFin" [(ngModel)]="fechaFin" />
  
    <button (click)="generarReporte()">Generar Reporte</button>
  </div>
  
  <div *ngIf="reporte">
    <h3>Reporte Generado:</h3>
    <p><strong>Periodo de inicio:</strong> {{ reporte.periodoInicio }}</p>
    <p><strong>Periodo de fin:</strong> {{ reporte.periodoFin }}</p>
    <p><strong>Consumo total:</strong> {{ reporte.consumoTotal }} kWh</p>
    <p><strong>Consumo máximo:</strong> {{ reporte.consumoMaximo }} kWh</p>
  </div>
  